@page "/"

<h1>Interactive URL Shortener - interactiv.ly</h1>

<div>
    <p>Welcome to Interactive's URL Shortener - interactiv.ly!</p>

    <p>This site will let you shorten long links (e.g.
        <a href="https://www.interactive.com.au/moving-to-the-cloud-we-show-you-what-to-move-and-how/">https://www.interactive.com.au/moving-to-the-cloud-we-show-you-what-to-move-and-how/</a>) to short links
        (e.g. <a href="https://interactiv.ly/cloudmove">https://interactiv.ly/cloudmove</a>)</p>

    <p>To get started, click the <a href=/urlmanager><b>URL Manager</b></a> link from the menu and checkout the above
        example!</p>

    <div style="align-content: right;"><img class="mainLogo" src="/images/interactivelogo.svg" /></div>
</div>
